body {
  width: 100vw;
  margin: 20px;
}

ul {
  list-style: none;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.inputContainer {
  grid-column: 1 / 2;
}

.tvShowDataContainer {
  width: fit-content;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.favListContainer {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.tvShowDataList {
  width: 100vw;
  background-color: #fabada;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
